.display__body {
    @include flexContainer(true);
    align-items        : flex-start;
    @include flexItem(1, 0, rem-calc(960));
    width              : 100%;
    padding-bottom     : calc(56% + #{rem-calc(40)});
    position           : relative;
    background         : transparent;
    border             : 5px solid $white;
    border-radius      : rem-calc(25);
    perspective        : 150px;
    perspective-origin : 50% 100%;
}

.display__inner-bezel {
    position        : absolute;
    top             : 50%;
    left            : calc(50% - #{rem-calc(20)});
    transform       : translate(-50%, -50%);
    @include flexContainer(true);
    align-items     : stretch;
    @include flexItem(0, 0, calc(100% - #{rem-calc(80)}));
    width           : calc(100% - #{rem-calc(80)});
    padding-bottom  : 56%;
    background      : transparent;
    border          : 2px solid $white;
    border-radius   : rem-calc(5);
    overflow-y      : auto;
    background      : $gray--800;


    @include min-screen($media-medium) {
        left  : 50%;
        @include flexItem(0, 0, calc(100% - #{rem-calc(40)}), 'stretch');
        width : calc(100% - #{rem-calc(40)});
    }

}

.display {
    position       : absolute;
    top            : 0;
    right          : 0;
    bottom         : 0;
    left           : 0;
    @include flexContainer();
    flex-direction : column;
    flex-wrap      : nowrap;
    overflow       : hidden;
}

.display__button {
    position      : absolute;
    top           : 50%;
    left          : calc(100% - #{rem-calc(45)});
    width         : rem-calc(30);
    height        : rem-calc(30);
    border        : 2px solid $white;
    border-radius : 50%;
    transform     : translateY(-50%);

    @include min-screen($media-medium) {
        display : none;
    }

}

.display__base {
    display : none;

    @include min-screen($media-medium) {
        position      : absolute;
        top           : calc(100% - #{rem-calc(5)});
        left          : 50%;
        display       : block;
        width         : 25vw;
        height        : 10vh;
        border        : 5px solid $white;
        border-radius : rem-calc(0 0 10 10);
        transform     : rotateX(30deg) translateX(-50%);
    }
}

@keyframes highlight-on-appear {
    0%{background : rgba($white, .2)}
    50%{background : rgba($white, .2)}
    100%{background : transparent}
}

.display__project-button {
    position   : absolute;
    top        : rem-calc(20);
    bottom     : rem-calc(50);
    width      : rem-calc(50);
    opacity    : 0;
    cursor     : pointer;
    transition : opacity 300ms $ease-in-out-quint,
                 right 300ms $ease-in-out-quint,
                 left 300ms $ease-in-out-quint;

    &.display__project-button--previous {
        left : 0;
    }

    &.display__project-button--next {
        right : 0;
    }

    &.display__project-button--active {
        animation : highlight-on-appear 1000ms $ease-in-out-quint;
        opacity   : 1;

        &.display__project-button--previous {
            left : rem-calc(-55);
        }

        &.display__project-button--next {
            right : rem-calc(-55);
        }

    }

    &:hover,
    &:focus {
        outline    : 1px solid $white;
        background : rgba($white, .2);
    }

    &.display__project-button--next.display__project-button--previous--disabled,
    &.display__project-button--previous.display__project-button--next--disabled {
        &:hover,
        &:focus {
            outline    : none;
            background : transparent;
            cursor     : default;
        }

        .icon svg {
            fill : $gray--400;
        }

    }

}

.display__project-button__icon {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);

    .display__project-button--previous & {
        transform : translate(-50%, -50%) rotate(180deg);
    }

}
