.project__list {
    @include flexContainer(false);
    flex-wrap  : nowrap;
    @include flexItem(0, 0, 100%);
    overflow   : hidden;
    transition : transform 300ms $ease-in-out-quint;

    &.project__list--usmexpat-active {
        transform : translateY(0);
    }

    &.project__list--notusmexpat-active {
        transform : translateY(-100%);
    }

    &.project__list--notusmexpat2-active {
        transform : translateY(-200%);
    }

    &.project__list--3 {
        transform : translateY(-300%);
    }

    &.project__list--4 {
        transform : translateY(-400%);
    }

    &.project__list--5 {
        transform : translateY(-500%);
    }

    &.project__list--6 {
        transform : translateY(-600%);
    }

}

.project__image {
    @include flexItem(0 0 100%);
    width      : 100%;
    max-width  : 100%;
    transition : transform 300ms $ease-in-out-quint;

    &.project__image--1-active {
        transform : translateX(0);
    }

    &.project__image--2-active {
        transform : translateX(-100%);
    }

    &.project__image--3-active {
        transform : translateX(-200%);
    }

    &.project__image--4-active {
        transform : translateX(-300%);
    }

}
