.page__header {
    @include flexContainer();
    margin-bottom : rem-calc(40);

    &.page__header--margin-top {
        @include min-screen($media-small) {
            margin-top : rem-calc(100);
        }

        @include min-screen($media-medium) {
            margin-top : rem-calc(172);
        }

    }

    @include min-screen($media-medium) {
        margin : 0 auto rem-calc(40);
    }

}

.page__header__icon {
    @include flexItem(0, 0, auto);
    margin : rem-calc(6 0 26);

    @include min-screen($media-small) {
        margin : rem-calc(6 0 26);
    }

}

.page__header__title {
    @include flexItem(1, 0, auto);
    font-family : $display-font--bold;
    font-size   : rem-calc(62);
    color       : $white;
    text-align  : left;
    transition  : font-size 200ms ease;
    margin-left : rem-calc(10);

    @include min-screen($media-small) {
        margin-left : rem-calc(20);
        font-size   : rem-calc(90);
    }

    @include min-screen($media-medium) {
        max-width : rem-calc(650);
    }

}
