$small-header-height : rem-calc(73);
$header-height       : rem-calc(100);
$header-padding      : rem-calc(10);

.header {
    position : absolute;
    top      : 0;
    left     : 0;
    right    : 0;
    height   : $small-header-height;
    padding  : $header-padding;

    @include min-screen($media-small) {
        height : $header-height;
    }
}

.page__header {
    @include flexContainer();
    align-items : center;
    height      : calc(#{$small-header-height} - (#{$header-padding} * 2));
    max-width   : rem-calc(1024);
    margin-left : rem-calc(60);

    @include min-screen($media-small) {
        height      : calc(#{$header-height} - (#{$header-padding} * 2));
        margin-left : rem-calc(100);
    }

    @media screen and (min-width: 1244px) {
        margin : auto;
    }

    &.page__header--small-width {
        max-width : rem-calc(690);

        @media screen and (min-width: 910px) {
            margin : auto;
        }

    }

}

.page__header__icon {
    @include flexItem(0, 0, auto);
    margin-left : rem-calc(20);
}

.page__header__title {
    @include flexItem(1, 0, auto);
    margin      : auto;
    font-family : $display-font--bold;
    font-size   : rem-calc(52);
    color       : $white;
    text-align  : center;
    transition  : font-size 200ms ease;

    @include min-screen($media-xsmall) {
        margin-left : rem-calc(20);
        text-align  : left;
    }

    @include min-screen($media-small) {
        font-size : rem-calc(90);
    }
}
