RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} "MSIE [6-9]" [NC]
RewriteRule ^(.*)$ http://usmexpat.com/browser [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\\..*/$ /index.html [L]
