.menu {
  display: inline-block;
  position: relative;
  text-align: left;
}

.menu__item {
  &:first-of-type .menu__link,
  &:nth-of-type(5) .menu__link,
  &:nth-of-type(9) .menu__link {
    color: $projectsColor;

    &:hover,
    &:focus {
      color: $white;
    }
  }

  &:nth-of-type(2) .menu__link,
  &:nth-of-type(6) .menu__link {
    color: $conceptsColor;

    &:hover,
    &:focus {
      color: $white;
    }
  }

  &:nth-of-type(3) .menu__link,
  &:nth-of-type(7) .menu__link {
    color : $aboutColor;

    &:hover,
    &:focus {
      color : $white;
    }
  }

  &:nth-of-type(4) .menu__link,
  &:nth-of-type(8) .menu__link {
    color : $elsewhereColor;

    .elsewhere-page & {
      color: $quaternary--dark;
    }

    &:hover,
    &:focus {
      color: $white;
    }
  }
}

.menu__icon-list {
  display: none;
  opacity: 0;
  visibility: hidden;

  @include min-screen($media-small) {
    display: block;
    opacity: 1;
    transition: opacity 300ms ease;
    visibility: visible;
  }

  &.menu__icon-list--hidden {
    opacity: 0;
  }
}

.menu__icon {
  position: absolute;
  top: rem-calc(25);
  left: rem-calc(-100);
  height: rem-calc(60);

  svg {
      fill : $projectsColor;
  }

  &:nth-of-type(2) {
      top: calc(25% + #{rem-calc(15)});

      svg {
          fill : $conceptsColor;
      }

  }

  &:nth-of-type(3) {
      top : calc(50% + #{rem-calc(15)});

      svg {
          fill : $aboutColor;
      }

  }

  &:nth-of-type(4) {
      top : calc(75% + #{rem-calc(15)});

      svg {
          fill : $elsewhereColor;

          .elsewhere-page & {
              fill : $quaternary--dark;
          }

      }

  }

}

.menu__link {
    display         : block;
    max-width       : rem-calc(650);
    margin          : rem-calc(20) 0;
    z-index         : 1;
    font-family     : $display-font--bold;
    font-size       : rem-calc(54);
    text-decoration : none;
    text-align      : left;
    white-space     : nowrap;
    user-select     : none;
    transition      : color 300ms ease-in-out;

    &:hover::before,
    &:focus::before {
        box-shadow : inset 0 0 600px 0 rgba($black, 1);
        opacity : 1;
    }

    &::before {
        display          : block; // for IE11 pointer-events
        content          : '';
        position         : fixed;
        top              : 0;
        right            : 0;
        bottom           : 0;
        left             : 0;
        width            : 100vw;
        height           : 100vh;
        transform-origin : center;
        opacity          : 0;
        transition       : opacity 10000ms ease-in;
        z-index          : -1;
        pointer-events   : none;
    }

    &:focus {
        outline : none;
    }

    @include min-screen($media-small) {
        font-size : rem-calc(72);

        &:hover,
        &:focus {
            font-size : rem-calc(80);
            z-index   : 0;
        }

    }

    .list & {
        font-family : $display-font;
        color       : $white !important;
        font-size   : rem-calc(22);

        @include min-screen($media-xsmall) {
            font-size: rem-calc(32);
        }

    }

}
