// *******************************************
// *******************************************

    // Style guide main navigation

// *******************************************
// *******************************************

// <nav className='sg-nav'>
//     <menu className='sg-nav__menu'>
//         <li className='sg-nav__menu-item'>
//             <a className='sg-nav__menu-link [sg-nav__menu-link--is-current]'>
//                 {'Buttons'}
//             </a>
//         </li>
//     </menu>
// </nav>

// nav menu element
.sg-nav__menu {
    list-style-type : none;
}

// nav menu top level item element
.sg-nav__menu-item {
    margin : rem-calc(8 0);
}

// nav menu link item
.sg-nav__menu-link {
    padding     : rem-calc(5 10);
    display     : block;
    font-size   : rem-calc(14);
    font-weight : bold;
    color       : $gray--800;
    border-left : 3px solid transparent;

    &:hover {
        color : $gray--900;
    }

}

// current state of navigation
.sg-nav__menu-link--is-current {
    border-left-color : $deep-purple--100;
}
