// *******************************************
// *******************************************

	// Base and root elements

// *******************************************
// *******************************************

html,
body {
    width                : 100%;
    height               : 100%;
    -webkit-font-smoothing : antialiased;
}

html {
	background           :  transparent;
}

body {
	overflow-x           : hidden;
}
