// *******************************************
// *******************************************

    // Footer Styles

// *******************************************
// *******************************************

// <footer className='footer'>
//     {this.props.children}
// </footer>

// footer vars
$footer-bg-color         : $themeDGray;

footer,
.footer {
    height               : inherit;
    width                : 100%;
    background-color     : $footer-bg-color;
}
