// all margins
.l--m-default {
    margin  :  rem-calc(0 0 30 0);
}

.l--m-half {
    margin  :  rem-calc(15) !important;
}

.l--m-3 {
    margin  :  rem-calc(3) !important;
}

.l--m-6 {
    margin  :  rem-calc(6) !important;
}

// top margins
.l--m-top-3 {
    margin-top  :  rem-calc(3) !important;
}

.l--m-top-6 {
    margin-top  :  rem-calc(6) !important;
}

.l--m-top-15,
.l--m-top-half {
    margin-top  :  rem-calc(15) !important;
}

.l--m-top-21 {
    margin-top  :  rem-calc(21) !important;
}

.l--m-top-30 {
    margin-top  :  rem-calc(30) !important;
}

.l--m-top-45 {
    margin-top  :  rem-calc(45) !important;
}

.l--m-top-60 {
    margin-top  :  rem-calc(60) !important;
}

// bottom margins
.l--m-bot-default {
    margin-bottom  :  rem-calc(30) !important;
}

.l--m-bot-0 {
    margin-bottom  :  0 !important;
}

.l--m-bot-3 {
    margin-bottom  :  rem-calc(3) !important;
}

.l--m-bot-6 {
    margin-bottom  :  rem-calc(6) !important;
}

.l--m-bot-9 {
    margin-bottom  :  rem-calc(9) !important;
}

.l--m-bot-half,
.l--m-bot-15 {
    margin-bottom  :  rem-calc(15) !important;
}

.l--m-bot-30 {
    margin-bottom  :  rem-calc(30) !important;
}

.l--m-bot-none {
    margin-bottom  :  rem-calc(0) !important;
}

// right margins
.l--m-right-6 {
    margin-right  :  rem-calc(6) !important;
}

.l--m-right-15 {
    margin-right  :  rem-calc(15) !important;
}


// left margins
.l--m-left-0 {
    margin-left  :  0 !important;
}

.l--m-left-3 {
    margin-left  :  rem-calc(3) !important;
}

.l--m-left-half,
.l--m-left-15 {
    margin-left  :  rem-calc(15) !important;
}

// zero out margins
.l--no-margin {
    margin  :  0 !important;
}

// zero out padding
.l--no-padding {
    padding  :  0 !important;
}

// all padding
.l--p-3 {
    padding  :  rem-calc(3);
}

// display properties
.l--block {
    display  :  block;
}

// change display on properties at different resolutions
.l--expand-on-small {

    @media #{$small-only} {
        width       :  100%;
        min-width   :  auto;
        display     :  block;
        text-align  :  center;
    }

}

// collapsed grid helpers
// gap out 10px
.column-adjust--m-5 {
    margin  :  rem-calc(5);
}
