// vars //

// container dimensions
$medium-height : rem-calc(26.6666);
$large-height  : rem-calc(40);
$medium-width  : rem-calc(80);
$large-width   : rem-calc(120);

// transitions
$transition-duration : 300ms;
$transition-timing   : ease-in-out;

// letter box sizes
$medium-letter-width : rem-calc(20);
$large-letter-width  : rem-calc(30);

// fonts
$font-family      : $display-font--enhance;
$medium-font-size : 1em;
$large-font-size  : 2em;

.branding {
    position    : absolute;
    top         : rem-calc(20);
    left        : rem-calc(20);
    display     : inline-flex;
    flex-wrap   : wrap;
    max-width   : $medium-width;
    z-index     : 10;
    cursor      : pointer;
    outline     : 1px solid transparent;
    user-select : none;
    transition  : max-width $transition-duration $transition-timing,
                  text-shadow $transition-duration $transition-timing,
                  outline 300ms $transition-timing;

    &.branding--back {
        top       : rem-calc(10);
        left      : rem-calc(10);
        max-width : calc(#{$medium-width} - #{$medium-letter-width});
    }

    &.branding--small {
        position : relative;
        top      : 0;
        left     : 0;
        display  : block;
        margin   : auto;

        @include min-screen($media-xsmall) {
            display  : inline;
            margin   : auto;
        }
    }

    &:not(.branding--small) {
        @include min-screen($media-small) {
            max-width : $large-width;

            &.branding--back {
                max-width : calc(#{$large-width} - #{$large-letter-width});
            }

        }
    }

    &:hover {

        .branding__letter {
            text-shadow : 1px 1px 1px rgba($black, .10);
        }

        .branding__row:nth-of-type(1) .branding__column:nth-of-type(1),
        .branding__row:nth-of-type(1) .branding__column:nth-of-type(2),
        .branding__row:nth-of-type(2) .branding__column:nth-of-type(2),
        .branding__row:nth-of-type(2) .branding__column:nth-of-type(3) {

            .branding__letter {
                text-shadow : 1px 1px 2px rgba($gray--300, 1);
            }

        }

    }

    &:focus {
        outline        : 1px solid $off-white;
        outline-offset : 1px;

        .branding__letter {
            text-shadow : 1px 1px 1px rgba($black, .10);
        }

    }

}

.branding__row {
    flex-grow   : 1;
    flex-shrink : 0;
    flex-basis  : $medium-width;
    display     : flex;
    flex-wrap   : wrap;
    align-items : center;
    transition  : flex-basis $transition-duration $transition-timing;

    &:nth-of-type(1) {
        .branding__column:nth-of-type(1),
        .branding__column:nth-of-type(2) {
            box-shadow : 1px 1px 2px 0 rgba($black, .1);
            background : $off-white;
            color      : $gray--700;
        }

        .branding__column:nth-of-type(3),
        .branding__column:nth-of-type(4) {
            color : $off-white;
        }

    }

    &:nth-of-type(2) {
        .branding__column:nth-of-type(1),
        .branding__column:nth-of-type(4) {
            color : $off-white;
        }

        .branding__column:nth-of-type(2),
        .branding__column:nth-of-type(3) {
            box-shadow : 1px 1px 2px 0 rgba($black, .1);
            background : $off-white;
            color      : $gray--700;
        }
    }

    &:nth-of-type(3) {
        .branding__column {
            color : $off-white;
        }

    }

    &:not(.branding--small) {
        @include min-screen($media-small) {
            flex : 1 0 $large-width;
        }
    }

}

.branding__column {
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex            : 0 0 $medium-letter-width;
    height          : $medium-height;
    transition      : height $transition-duration $transition-timing,
                      flex-basis $transition-duration $transition-timing,
                      background $transition-duration $transition-timing,
                      color $transition-duration $transition-timing;

    &:not(.branding--small) {
        @include min-screen($media-small) {
            flex   : 0 0 $large-letter-width;
            height : $large-height;
        }
    }
}

.branding__letter {
    flex           : 0 0 auto;
    width          : $medium-letter-width;
    height         : rem-calc(12.5);
    font-family    : $font-family;
    text-transform : uppercase;
    text-align     : center;
    font-size      : $medium-font-size;
    transition     : height $transition-duration $transition-timing,
                     width $transition-duration $transition-timing,
                     flex-basis $transition-duration $transition-timing,
                     color $transition-duration $transition-timing,
                     text-shadow $transition-duration $transition-timing;

    &:not(.branding--small) {
        @include min-screen($media-small) {
            font-size : $large-font-size;
            width     : $large-letter-width;
            height    : rem-calc(24);
        }
    }

    &.branding__letter--projects {
        color : $projectsColor;
    }

    &.branding__letter--concepts {
        color : $conceptsColor;
    }

    &.branding__letter--about {
        color : $aboutColor;
    }

    &.branding__letter--elsewhere {
        color : $elsewhereColor;
    }
}
