// *******************************************
// *******************************************

    // Navigation for tab components

// *******************************************
// *******************************************

// <ul className='tabs__nav__list tabs__nav__list--right tab-nav'>
//     <li className='tab-nav__item'>
//         <a className='tab-nav__item-link tab-nav__item-link--current'>
//             <span className='t--upper'>
//                 {'Yearly'}
//             </span>
//         </a>
//     </li>
// </ul>

// container element
.tab-nav {
    @extend .clearfix;
    display : inline-block;
}

// item element
.tab-nav__item {
    margin  : rem-calc(3);
    display : inline-block;
    float   : left;
}

// link element
.tab-nav__item-link {
    position       : relative;
    padding        : rem-calc(10 6);
    display        : inline-block;
    cursor         : pointer;
    text-transform : uppercase;
    color          : $gray--500;
    transition     : color 250ms ease,
                     border-top-color 250ms ease;

    &:hover {
        color            : $gray--700;
        background-color : $gray--100;
    }

    &.tab-nav__item-link--current {
        color            : $gray--700;
        background-color : $gray--100;
    }

}
