// Base Values

$white                   : #fff;
$black                   : #000;

// Slate Gray Colors

$themeLGray              : #8291ab;
$themeMLGray             : #3b4658;
$themeMGray              : #2f3846;
$themeDGray              : #27303e;
$themeDDGray             : #18202a;

// Thematic Colors

$primary                 : #25c0d7;
$secondary               : #e88a51;
$tertiary                : #e8bf51;

// Status colors

$statusGreen             : #25d785;
$statusOrange            : #f27225;
$statusRed               : #ea4626;
