//////////////////////////////
//      Color Vars          //
//////////////////////////////

$white: #fff;
$black: #000;

$gray--050: tint($black, 95%);
$gray--100: tint($black, 90%);
$gray--200: tint($black, 80%);
$gray--300: tint($black, 70%);
$gray--400: tint($black, 60%);
$gray--500: tint($black, 50%);
$gray--600: tint($black, 40%);
$gray--700: tint($black, 30%);
$gray--800: tint($black, 20%);
$gray--900: tint($black, 10%);

// Semantic color vars
$white: $white;
$black: $black;

// Thematic colors
$primary: #25c0d7;
$secondary: #e88a51;
$tertiary: #e8bf51;

// Status colors
$status--success: #25d785;
$status--warning: #f27225;
$status--error: #ea4626;

// Typography
$display-color: $gray--700 !default;
$body-color: $gray--900 !default;
