////////////////////////////////
//      Common Extends        //
////////////////////////////////

.normalize-list {
    margin          : 0;
    padding         : 0;
    list-style-type : none;
}

.absolute-center {
    position  : absolute !important;
    width     : 100%;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
}

.ital-text {
    font-style    : italic;
    padding-right : 3px;
}

.ital-text__bold {
    @extend .ital-text;
    font-weight : bold;
}

.ellipses {
    text-overflow : ellipsis;
    white-space   : nowrap;
    overflow      : hidden;
}
