////////////////////////////////////////
//                                    //
//      Font-Family Definitions       //
//                                    //
////////////////////////////////////////

// Source Sans Pro
$source--light: 'source_sans_prolight', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$source--regular: 'source_sans_proregular', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$source--bold: 'source_sans_prosemibold', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;

// Jaapokki
$jaapokki--regular: 'japokki_regular', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$jaapokki--enhance: 'japokki_enhance', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$jaapokki--subtract: 'japokki_subtract', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;

///////////////////////////////
//                           //
//      Font Variables       //
//                           //
///////////////////////////////

$display-font: $jaapokki--regular !default;
$display-font--enhance: $jaapokki--enhance !default;
$display-font--subtract: $jaapokki--subtract !default;

$body-font: $source--regular !default;
$body-font--light: $source--light !default;
$body-font--bold: $source--bold !default;

//////////////////////////////////////
//                                  //
//      Font-Face Definitions       //
//                                  //
//////////////////////////////////////

@font-face {
  font-family: 'source_sans_prolight';
  font-weight: normal;
  font-style: normal;
  src: local 'Source Sans Pro Light';
  src: url(../../media/fonts/SourceSansPro/sourcesanspro-light-webfont.woff2) format('woff2');
  src: url(../../media/fonts/SourceSansPro/sourcesanspro-light-webfont.woff) format('woff');
}

@font-face {
  font-family: 'source_sans_proregular';
  font-weight: normal;
  font-style: normal;
  src: local 'Source Sans Pro Regular';
  src: url(../../media/fonts/SourceSansPro/sourcesanspro-regular-webfont.woff2) format('woff2');
  src: url(../../media/fonts/SourceSansPro/sourcesanspro-regular-webfont.woff) format('woff');
}

@font-face {
  font-family: 'source_sans_prosemibold';
  font-weight: normal;
  font-style: normal;
  src: local 'Source Sans Pro Semibold';
  src: url(../../media/fonts/SourceSansPro/sourcesanspro-semibold-webfont.woff2) format('woff2');
  src: url(../../media/fonts/SourceSansPro/sourcesanspro-semibold-webfont.woff) format('woff');
}

@font-face {
    font-family: 'japokki_regular';
    font-weight: normal;
    font-style: normal;
    src: local 'Jaapokki';
    src: url(../../media/fonts/Jaapokki/jaapokki-regular.woff) format('woff');
}

@font-face {
  font-family: 'japokki_enhance';
  font-weight: normal;
  font-style: normal;
  src: local 'Jaapokki enhance';
  src: url(../../media/fonts/Jaapokki/jaapokkienhance-regular.woff) format('woff');
}


@font-face {
  font-family: 'japokki_subtract';
  font-weight: normal;
  font-style: normal;
  src: local 'Jaapokki subtract';
  src: url(../../media/fonts/Jaapokki/jaapokkisubtract-regular.woff) format('woff');
}
