////////////////////////////////////////
//                                    //
//      Font-Family Definitions       //
//                                    //
////////////////////////////////////////

// Source Sans Pro
$source-light   : 'source_sans_prolight', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$source-regular : 'source_sans_proregular', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$source-bold    : 'source_sans_prosemibold', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;

// Georgia
$georgia-regular : Georgia, Times, 'Times New Roman', serif;


///////////////////////////////
//                           //
//      Font Variables       //
//                           //
///////////////////////////////

$sans-light   : $source-light;
$sans-regular : $source-regular;
$sans-bold    : $source-bold;

$serif-light   : $georgia-regular;
$serif-regular : $georgia-regular;
$serif-bold    : $georgia-regular;

$display-font  : $sans-bold !default;
$body-font     : $sans-regular !default;

//$display-font-alt  : $sans-bold !default;
//$body-font-alt     : $sans-regular !default;


//////////////////////////////////////
//                                  //
//      Font-Face Definitions       //
//                                  //
//////////////////////////////////////

@font-face {
    font-family: 'source_sans_prolight';
    font-weight : normal;
    font-style  : normal;
    src: local 'Source Sans Pro Light';
    src: url('/fonts/SourceSansPro/sourcesanspro-light-webfont.eot');
    src: url('/fonts/SourceSansPro/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/SourceSansPro/sourcesanspro-light-webfont.woff') format('woff'),
         url('/fonts/SourceSansPro/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('/fonts/SourceSansPro/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
}

@font-face {
    font-family: 'source_sans_proregular';
    font-weight : normal;
    font-style  : normal;
    src: local 'Source Sans Pro Regular';
    src: url('/fonts/SourceSansPro/sourcesanspro-regular-webfont.eot');
    src: url('/fonts/SourceSansPro/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/SourceSansPro/sourcesanspro-regular-webfont.woff') format('woff'),
         url('/fonts/SourceSansPro/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('/fonts/SourceSansPro/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
}

@font-face {
    font-family: 'source_sans_prosemibold';
    font-weight : normal;
    font-style  : normal;
    src: local 'Source Sans Pro Semibold';
    src: url('/fonts/SourceSansPro/sourcesanspro-semibold-webfont.eot');
    src: url('/fonts/SourceSansPro/sourcesanspro-semibold-webfont?#iefix') format('embedded-opentype'),
         url('/fonts/SourceSansPro/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('/fonts/SourceSansPro/sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('/fonts/SourceSansPro/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
}

