// *******************************************
// *******************************************

    // Tooltips

// *******************************************
// *******************************************
//
//
// <a data-tooltip="You Found Me!" tabIndex="0" data-position="right">help you</a>
//


[data-tooltip][tabindex="0"] {
    position : relative;

    &:focus {
        outline : 0;
    }

    &::before { // triangle that points to the content
        content          : '';
        position         : absolute;
        width            : 0;
        height           : 0;
        border-style     : solid;
        opacity          : 0;
        transition       : all 200ms 200ms ease-in-out;
        //top positioning
        top              : -10px;
        left             : 50%;
        margin-left      : -4px;
        border-width     : 4px 5px 0;
        border-color     :  $black transparent transparent;
    }

    &::after { // content with tooltip content
        content             : attr(data-tooltip);
        position            : absolute;
        height              : auto;
        max-height          : 0;
        opacity             : 0;
        overflow            : hidden;
        white-space         : nowrap;
        font-size           : .75rem;
        font-weight         : 500;
        line-height         : 1rem;
        padding             : 6px 10px;
        color               : tint($white, 20%);
        text-align          : center;
        background-color    : $black;
        transition          : all 200ms 200ms ease-in-out;
        //top positioning
        bottom    : calc(100% + 10px);
        left      : 50%;
        transform : translateX(-50%);
    }

    // tooltip hover state
    &:hover {
        &::before { // triangle
            opacity : 1;
        }

        &::after { // content
            opacity    : 1;
            max-height : 99px;
        }

    }

}

// positioned tooltips (sans-content)

[data-tooltip][data-position="right"] {
    @extend [data-tooltip];

    &::before { // triangle
        top          : 50% !important;
        left         : 100% !important;
        margin-left  : 0 !important;
        margin-top   : -4px !important;
        border-width : 4px 5px 4px 0 !important;
        border-color : transparent $black transparent transparent !important;
    }

    &::after { // content
        top        : 50% !important;
        bottom     : auto !important;
        left       : calc(100% + 5px) !important;
        transform  : translateY(-50%) !important;
    }

}

[data-position="bottom"] {
    @extend [data-tooltip];

    &::before { // triangle
        top          : calc(100% + 6px) !important;
        border-width : 0 5px 4px !important;
        border-color : transparent transparent $black !important;
    }

    &::after { // content
        top       : calc(100% + 10px) !important;
        bottom    : auto !important;
    }

}

[data-position="left"] {
    @extend [data-tooltip];

    &::before { // triangle
        top          : 50% !important;
        left         : -10px !important;
        margin-left  : 0 !important;
        margin-top   : -4px !important;
        border-width : 4px 0 4px 5px !important;
        border-color : transparent transparent transparent $black !important;
    }

    &::after { // content
        top       : 50% !important;
        bottom    : auto !important;
        right     : calc(100% + 10px) !important;
        left      : auto !important;
        transform : translateY(-50%) !important;
    }

}
