$card-height--small : rem-calc(200);
$card-height : rem-calc(250);

.card__link {
    display         : flex;
    flex-wrap       : wrap;
    width           : 100%;
    margin          : rem-calc(20) 0;
    border          : 1px solid shade($white, 3%);
    background      : $white;
    text-decoration : none;
    transition      : box-shadow 300ms ease;

    &:hover {
        box-shadow : 2px 2px 4px rgba($black, .2);
    }

    &:focus {
        outline        : 1px solid $white;
        outline-offset : 2px;
    }

}

.card__row {
    display   : flex;
    flex-wrap : wrap;
    flex      : 1 1 50%;

    @include min-screen($media-small) {
        flex  : 1 1 100%;
    }

}

.card__column {
    position : relative;
    flex     : 1 1 100%;
    height   : $card-height--small;
    overflow : hidden;

    @include min-screen($media-small) {
        height : $card-height;

        &:first-of-type {
            flex : 1 1 40%;
        }

        &:last-of-type {
            flex : 1 1 60%;
        }

    }

}

.card__image {
    width      : 100%;
    min-height : 100%;
}

.card__title {
    display     : block;
    padding     : rem-calc(10);
    font-family : $display-font;
    font-size   : rem-calc(24);
    color       : $conceptsColor;

    @include min-screen($media-small) {
        padding   : rem-calc(20);
        font-size : rem-calc(42);
    }
}

.card__description {
    display     : block;
    padding     : rem-calc(10);
    font-family : $body-font;
    font-size   : rem-calc(16);
    color       : $conceptsColor;

    @include min-screen($media-small) {
        padding   : rem-calc(20);
        font-size : rem-calc(20);
    }
}

.card__length {
    position    : absolute;
    right       : rem-calc(10);
    bottom      : rem-calc(10);
    font-family : $body-font;
    font-size   : rem-calc(16);
    color       : $conceptsColor;

    @include min-screen($media-small) {
        right  : rem-calc(20);
        bottom : rem-calc(20);
    }
}
