///////////////////////////
//                       //
//     Layout Styles     //
//                       //
///////////////////////////

// element that contains all of the React app
.l--app-wrapper {
  position : fixed;
  top      : 0;
  right    : 0;
  bottom   : 0;
  left     : 0;
}

.l--max-width {
    max-width : rem-calc(1024);
    margin    : auto;
}
