// *******************************************
// *******************************************

	// Homepage - Main content (segments)
	// and animated interactions

// *******************************************
// *******************************************

// full height content wrapper

// <div class="home__stage">
// 	<div class="main home__main layout--max-width" role="main"></div>
// 	<div class="segments"></div>
// </div>

.home__stage {
	width                : 100%;
	z-index              : 500;
	max-width            : rem-calc(1024);
	padding-top          : 20%;
    user-select          : none;

    @media #{$landscape} and (max-width: 480px) {
        padding-top      : rem-calc(60);
    }

    @media screem and (min-width: 470px) {
        padding-top      : 25%;
    }

    @media #{$large-up} {
		position         : absolute;
		top              : 0;
		bottom           : 0;
		left             : 50%;
		padding-top      : 0;
		transform        : translate(-50%, 0);
	}

}

// Main content, child of stage

.home__main {
	width                : 100%;
	margin               : auto;
	padding              : rem-calc(10 30);
	text-align           : left;
	color                : $white;
	@include noFlicker();

    @media #{$medium-up} {
	    position                  : absolute;
	    top                       : 50%;
	    left                      : 50%;
        width                     : 100%;
        padding                   : rem-calc(0 20);
	    transform                 : translate(-50%, -50%);
	}

	h2,
	h5 {
		position                  : relative;
		text-shadow               : 1px 1px 1px rgba($black, .8);
		color                     : $white;
	}

	h2 {
		margin                    :  0;
		font-size                 : rem-calc(24);

        @media screen and (min-width: 520px) {
            font-size             : rem-calc(30);
        }

        @media screen and (min-width: 809px) {
            line-height           : rem-calc(52);
            font-size             : rem-calc(48);
        }

        span {
            display               : block;

            @media screen and (min-width: 470px) {
                display           : inline;
            }

        }

    }

    h5 {
        margin-top: 40px;

        @media screen and (min-width: 470px) {
            margin-top: 0;
        }

    }

	// wraps buttons

	.button-row {
		height                    : 56px;
        margin-top: 40px;

		@media #{$large-up} {
			width                 : 100%;
			margin-top            : rem-calc(20);
			position              : relative;
			text-align            : center;
		}

	}

	// contains each button

	.button-container {
		@media #{$landscape} and (max-width: 768px) {
			width                 : 32%;
			padding               : 0;
			display               : inline-block;
		}

		@media #{$large-up} {
			width                 : rem-calc(240);
			display               : inline-block;
			overflow              : hidden;
			position              : absolute;
		}

	}

	.button {
		width                     : 100%;
		margin                    : rem-calc(10) auto;
		display                   : block;

        @media #{$medium-up} {
            width                     : 70%;
        }

		// current arrows

		@media #{$large-up} {
			width                 : rem-calc(200);
			margin                : 0 auto;

			&:before {
				content           : '';
				width             : 10px;
				height            : 10px;
				margin            : -10px 0 0 25px;
				display           : block;
				position          : absolute;
				top               : 50%;
				left              : 100%;
				border            : solid transparent;
				pointer-events    : none;
				border-color      : rgba($primary, 0);
				border-right-color: rgba($primary, .95);
				border-width      : 10px;
			}

			&.button--secondary:before {
				border-color      : rgba($secondary, 0);
				border-right-color: rgba($secondary, .95);
			}

			&.button--tertiary:before {
				border-color      : rgba($tertiary, 0);
				border-right-color: rgba($tertiary, .95);
			}

		}

	}

}

// segments, child of stage

.segments {
	height                           : 100%;
	opacity                          : 0;
	position                         : absolute;
	top                              : -100%;
	right                            : 0;
	left                             : 0;
	text-align                       : center;
	color                            : $white;
	overflow                         : hidden;

    @media #{$large-up} {
		width                        : 50%;
		left                         : auto;
	}

	h3 {
		color                        : $white;
        user-select                  : text;
	}

	// contains full panel

	.segments__info {
		height                       : 100%;
		padding                      : rem-calc(0 10);
		position                     : relative;
		overflow-y                   : auto;
		overflow-x                   : hidden;
		background                   : $primary;

		.main-nav__item {
			width                    : 33.33333%;
		}

        &[data-segment="enterprise"] {
            background               : $secondary;
        }

        &[data-segment="gov-edu"] {
            background               : $tertiary;
        }

        @media #{$medium-up} {
            background               : rgba($primary, 1);

            &[data-segment="enterprise"] {
                background           : rgba($secondary, 1);
            }

            &[data-segment="gov-edu"] {
                background           : rgba($tertiary, 1);
            }
        }

		@media #{$large-up} {
			padding                  : rem-calc(21);
		}


	}

	// intro content for each panel

	.segments__intro {
		width                        : 100%;
		opacity                      : 1;
		visibility                   : visible;
		position                     : absolute;
		top                          : 50px;
		left                         : 0;

		span {
			margin                   : auto;
			padding                  : 0 10px;
			margin-bottom            : 0;
            line-height              : rem-calc(20);
		}

        .icon-container {
            @media #{$landscape} and (max-width: 768px) {
                height               : rem-calc(90);
                width                : rem-calc(90);
            }

        }

        .page-nav {
			margin-top               : rem-calc(15);
		}

		@media #{$large-up} {
			opacity                  : 1;
			visibility               : visible;
			padding                  : rem-calc(0 42);
			top                      : 15%;
		}

	}

	.button {
		width                        : rem-calc(200);
	}

}

.segments__close {
	width                            : rem-calc(48);
	height                           : rem-calc(48);
	display                          : block;
	cursor                           : pointer;
	position                         : absolute;
	top                              : rem-calc(60);
	right                            : rem-calc(10);
	z-index                          : 502;
	text-align                       : center;
	line-height                      : rem-calc(48);
	font-size                        : rem-calc(30);
	border                           : 1px solid $white;
	border-radius                    : 50%;
	color                            : $white;
	transition                       : all 300ms ease-in-out;

	&:hover {
		background-color             : rgba($black, .2);
		border-color                 : transparent;
	}

	@media #{$medium-up} {

		right                        : rem-calc(21);
	}

}
