$transiton-timing    : $ease-in-out-quad;
$transition-duration : 300ms;

///////////////////
// WELCOME PAGE
///////////////////
.welcome-page {

  // controls welcome enter from menu page
  &.welcome-enter {
      transform  : translateY(-100%);
      transition : transform $transition-duration $transiton-timing;
  }

  &.welcome-enter.welcome-enter-active {
      transform : translateY(0);
  }

  // controls welcome leave from welcome page
  &.menu-leave {
    transform  : translateY(0);
    transition : transform $transition-duration $transiton-timing;
  }

  &.menu-leave.menu-leave-active {
    transform : translateY(-100%);
  }

}

.menu-page {
  // controls menu leave from menu page
  // when going to welcome page
  &.welcome-leave {
    transform  : translateY(0);
    transition : transform $transition-duration $transiton-timing;
  }

  &.welcome-leave.welcome-leave-active {
    transform : translateY(100%);
  }

}

///////////////////
//  WORK PAGE
///////////////////

.work-page {

  // controls work enter from menu page
  &.work-enter {
      transform  : translateX(100%);
      transition : transform $transition-duration $transiton-timing;
  }

  &.work-enter.work-enter-active {
      transform : translateX(0);
  }

  // controls work leave from work page
  &.menu-leave {
    transform  : translateX(0);
    transition : transform $transition-duration $transiton-timing;
  }

  &.menu-leave.menu-leave-active {
    transform : translateX(100%);
  }

}

.menu-page {
  // controls menu leave from menu page
  // when going to work page
  &.work-leave {
    transform  : translateX(0);
    transition : transform $transition-duration $transiton-timing;
  }

  &.work-leave.work-leave-active {
    transform : translateX(-100%);
  }

}

///////////////////
// ABOUT PAGE
///////////////////
.about-page {

  // controls about enter from menu page
  &.about-enter {
      transform  : translateX(-100%);
      transition : transform $transition-duration $transiton-timing;
  }

  &.about-enter.about-enter-active {
      transform : translateX(0);
  }

  // controls about leave from about page
  &.menu-leave {
    transform  : translateX(0);
    transition : transform $transition-duration $transiton-timing;
  }

  &.menu-leave.menu-leave-active {
    transform : translateX(-100%);
  }

}

.menu-page {
  // controls menu leave from menu page
  // when going to about page
  .about-leave {
      transform  : translateX(0);
      transition : transform $transition-duration $transiton-timing;
  }

  .about-leave.about-leave-active {
      transform : translateX(100%);
  }

}

///////////////////
// ELSEWHERE PAGE
///////////////////
.elsewhere-page {

  // controls elsewhere enter from menu page
  &.elsewhere-enter {
      transform  : translateY(100%);
      transition : transform $transition-duration $transiton-timing;
  }

  &.elsewhere-enter.elsewhere-enter-active {
      transform : translateY(0);
  }

  // controls elsewhere leave from elsewhere page
  &.menu-leave {
    transform  : translateY(0);
    transition : transform $transition-duration $transiton-timing;
  }

  &.menu-leave.menu-leave-active {
    transform : translateY(100%);
  }

}

.menu-page {

  // controls menu leave from menu page
  // when going to elsewhere page
  &.elsewhere-leave {
    transform  : translateY(0);
    transition : transform $transition-duration $transiton-timing;
  }

  &.elsewhere-leave.elsewhere-leave-active {
    transform : translateY(-100%);
  }
}
