// *******************************************
// *******************************************

// Page-Specific Styles

// *******************************************
// *******************************************

.menu-page,
.process-page,
.about-page,
.work-page,
.elsewhere-page,
.secret-page {
    @include flexContainer(true);
    box-sizing : content-box;
    position   : fixed;
    top        : 0;
    right      : 0;
    bottom     : 0;
    left       : 0;
    overflow   : auto;
}

.process-page,
.about-page,
.work-page,
.elsewhere-page,
.secret-page {
    box-shadow : inset 0 0 300px 0 rgba($black, .1);
}

.menu-page {
    background : $off-white;
}

.process-page {
    background : $processColor;
}

.about-page {
    background : $aboutColor;
}

.work-page {
    background : $workColor;
}

.elsewhere-page {
    background : $elsewhereColor;
}

.secret-page {
    background : $gray--800;
}

.page__content-container {
    position    : relative;
    width       : 100%;
    height      : 100vh;
    max-width   : 1024px;
    display     : flex;
    align-items : flex-start;
    padding     : rem-calc(120 20);

    @include min-screen($media-small) {
        padding : rem-calc(25 20 50 160);
    }

    .menu-page & {
        align-items     : center;
        justify-content : center;
    }

}

.page__content {
    flex      : 0 1 auto;
    max-width : rem-calc(1024);
    margin    : auto;

    &.page__content--p-width {
        max-width : rem-calc(650);
        margin    : 0;
    }

}
