// *******************************************
// *******************************************

// Page-Specific Styles

// *******************************************
// *******************************************

.menu-page,
.welcome-page,
.about-page,
.work-page,
.elsewhere-page {
    @include flexContainer(true);
    box-sizing : content-box;
    position   : fixed;
    top        : 0;
    right      : 0;
    bottom     : 0;
    left       : 0;
}

.menu-page {
    background : $white;
}

.welcome-page {
    background : $welcomeBackground;
}

.about-page {
    background : $aboutBackground;
}

.work-page {
    background : $workBackground;
}

.elsewhere-page {
    background : $elsewhereBackbround;
}

.back-button {
  position : fixed;
  top      : rem-calc(20);
  left     : rem-calc(20);
}
