// vendor imports
    @import "vendor/reset";
    @import "../../../node_modules/synfrastructure/scss/global";
    @import "../../../node_modules/synfrastructure/scss/settings";
    @import "../../../node_modules/synfrastructure/scss/synfrastructure";

// dependency imports
    @import "dependencies/colors";
    @import "dependencies/extends";
    @import "dependencies/fonts";
    @import "dependencies/mixins";

// layout
    @import "layout/base";
    @import "layout/layout";

// component imports

    // buttons
    @import "components/buttons/buttons";

    // forms
    @import "components/forms/form-base";
    @import "components/forms/form-validation";

// pages
    @import "pages/page-layout";
