// *******************************************
// *******************************************

    // Layout for pattern library

// *******************************************
// *******************************************

// vars
$pl-sidebar-width : rem-calc(240);
$pl-header-height : rem-calc(64);

// container element of style guide section
.pl {
    position   : relative;
    height     : 100%;
    min-height : 100%;
}

// style guide sidebar with main navigation
// fixed left on large screens
// off canvas for mobile
.pl-sidebar {
    position     : fixed;
    top          : 0;
    left         : 0;
    bottom       : 0;
    z-index      : 10;
    width        : rem-calc(240px);
    height       : 100%;
    padding      : rem-calc(30);
    background   : $white;
    border-right : 1px solid $gray--300;
}

// main content of style guide
// to right of sidebar on large screens
// centered for mobile
.pl-content {
    z-index     : 1;
    width       : auto;
    min-height  : 100vh;
    margin-left : $pl-sidebar-width;
    background  : tint($black, 96%);
    border      : 1px solid transparent;
}

// centered content of page with max-width
.pl-page {
    max-width   : rem-calc(850);
    height      : 100%;
    min-height  : 100%;
    margin      : $pl-header-height auto 0 auto;
    padding     : rem-calc(40);

    &.example .row,
    &.example .row .column,
    &.example .row .columns {
        font-size   : 11px;
        background  : #f4f4f4;
        height      : 60px;
        line-height : 60px;
    }

    &.example .row{
        margin-bottom : 20px;
    }

    &.example .row .column, &.example .row .columns{
        background : #e4e4e4;
        border     : 1px solid #ccc;
    }

}


// style guide page sidebar fixed to top
// offset by sidebar on desktop
.pl-content__header {
    position    : fixed;
    top         : 0;
    right       : 0;
    z-index     : 10;
    left        : $pl-sidebar-width;
    height      : $pl-header-height;
    padding     : rem-calc(0 30);
    line-height : $pl-header-height;
    background  : $cyan--500;
    box-shadow  : 0px 4px 0px rgba($black, .1);
}

// page title text inside of page sidebar
.pl-content__title {
    font-weight : bold;
    font-size   : rem-calc(28);
    color       : $white;
    text-shadow : 2px 2px 0px rgba($black, .1);
}
