// variables
$input-error-message-padding        : rem-calc(6 9 9)   !default;
$input-error-message-top            : -1px;
$input-error-message-font-size      : rem-calc(12)      !default;
$input-error-message-font-weight    : normal            !default;
$input-error-message-font-style     : italic            !default;
$input-error-message-font-color     : $white            !default;
$input-error-message-font-color-alt : shade($white, 5%) !default;

//
// FORM INPUT ERROR MIXIN
//
@mixin form-error-color($color:$alert-color) {
    border-color     : $color;
    background-color : rgba($color, .1);

    // Go back to normal on focus
    &:focus {
        background   : $input-focus-bg-color;
        border-color : $input-focus-border-color;
    }
}

//
// FORM ERROR LABEL MIXIN
//
@mixin form-label-error-color($color:$alert-color) {
    color: $color;
}

//
// FORM ERROR MESSAGE MIXIN
//
@mixin form-error-message($bg:$alert-color) {
    display       : block;
    padding       : $input-error-message-padding;
    margin-top    : $input-error-message-top;
    margin-bottom : $form-spacing;
    font-size     : $input-error-message-font-size;
    font-weight   : $input-error-message-font-weight;
    font-style    : $input-error-message-font-style;
    background    : $bg;
}

// Label Styles
label {

    .label--error {
        @include form-label-error-color;
    }

}
