// *******************************************
// *******************************************

    // Switches Component Based off Foundation Switches

// *******************************************
// *******************************************

$switch-bg : $gray--200 !default;

$switch-height-sml    : 1.75rem !default;
$switch-height-med    : 2rem !default;
$switch-height-lrg    : 2.5rem !default;
$switch-bottom-margin : 1.5rem !default;

$switch-paddle-bg               : $white !default;
$switch-paddle-transition-speed : .15s !default;
$switch-paddle-transition-ease  : ease-out !default;
$switch-active-color            : $primary !default;


@mixin switch-base(
    $transition-speed : $switch-paddle-transition-speed,
    $transition-ease  : $switch-paddle-transition-ease) {

    position      : relative;
    margin-bottom : $switch-bottom-margin;
    border        : none;
    outline       : 0;
    padding       : 0;
    user-select   : none;

    label {
        position      : relative;
        display       : block;
        margin-bottom : ($switch-height-med / 2);
        width         : $switch-height-med * 2; height: $switch-height-med;
        background    : $switch-bg;
        color         : transparent;
        cursor        : pointer;
        text-indent   : 100%;

        @include single-transition(left, $transition-speed, $transition-ease);

    }

    input {
        position : absolute;
            left : 10px;
            top  : 9px;
        opacity  : 0;
        padding  : 0;



        & + label {
            margin-left  : 0;
            margin-right : 0;
        }

    }

    label:after {
        position   : absolute;
            left   : .25rem;
            top    : .25rem;
        transform  : translate3d(0,0,0);
        display    : block;
        width      : $switch-height-med - .5rem;
        height     : $switch-height-med - .5rem;
        background : $switch-paddle-bg;
        content    : "";
        transition : left $transition-speed $transition-ease;

    }

        input:checked + label {
            background : $switch-active-color;
        }

        input:checked + label:after {
            left : $switch-height-med + .25rem;
        }

    }

    @mixin switch-size($height: $switch-height-med) {

        label {
            height : $height;
            width  : $height * 2;
        }

        label:after {
            height : $height - .5rem;
            width  : $height - .5rem;
        }

        input:checked + label:after {
            left : $height + .25rem;
        }

    }

    @mixin switch-style(
    $paddle-bg    :$switch-paddle-bg,
    $active-color :$switch-active-color,
    $base-style   :true) {

    @if $base-style {

        label {
            background : $switch-bg;
            color      : transparent;

        }

        label:after {
            background : $paddle-bg;
        }

        input:checked + label {
            background : $active-color;
        }

    }

}

@mixin switch(
    $transition-speed : $switch-paddle-transition-speed,
    $transition-ease  : $switch-paddle-transition-ease,
    $height           : $switch-height-med,
    $paddle-bg        : $switch-paddle-bg,
    $active-color     : $switch-active-color,
    $base-style       :true) {
        @include switch-base($transition-speed, $transition-ease);
        @include switch-size($height);
        @include switch-style($paddle-bg, $active-color, $base-style);
}

.switch {
    @include switch;

    &.switch--large { @include switch-size($switch-height-lrg); }

    &.switch--medium { @include switch-size($switch-height-med); }

    &.switch--small { @include switch-size($switch-height-sml); }

    &.switch--round { @include radius(1000px);
      label { @include radius(2rem); }
      label:after { @include radius(2rem); }
    }

}
