// *******************************************
// *******************************************

	// Button Styles

// *******************************************
// *******************************************

// button vars

$include-html-button-classes : $include-html-classes;
$button-font                 : $ff-sans;

// We use these to build padding for buttons.
$button-tny : rem-calc(7);
$button-sml : rem-calc(9);
$button-med : rem-calc(12);
$button-lrg : rem-calc(16);

// We use this to control the display property.
$button-display       : inline-block;
$button-margin-bottom : rem-calc(15);

// We use these to control button text styles.
$button-font-family    : inherit;
$button-font-color     : $white;
$button-font-color-alt : $themeDDGray;
$button-font-tny       : rem-calc(11);
$button-font-sml       : rem-calc(13);
$button-font-med       : rem-calc(16);
$button-font-lrg       : rem-calc(20);
$button-font-weight    : bold;
$button-font-align     : center;

$button-font-family : $button-font;
// We use these to control various hover effects.
$button-function-factor  : 10%;

// We use these to control button border styles.
$button-border-width     : 1px;
$button-border-style     : solid;

// We use this to set the default radius used throughout the core.
$button-radius           : $global-radius;
$button-round            : $global-rounded;

// We use this to set default opacity for disabled buttons.
$button-disabled-opacity : .6;

// <a class="button button--primary js-trigger-segment" data-segment="start-up" href="#">Start Up</a>

.button {
	font-family          : $button-font-family;
	min-width            : rem-calc(140);
	text-shadow          : -1px -1px 1px rgba($black, .25);
	border               : 1px solid;
	background-color     : $primary;
	border-color         : $primary;
	border-radius        : 2px;
	box-shadow           : inset 0px 0px 1px rgba($white, .5);
	background-image     : linear-gradient(rgba($white, .1), rgba($white, 0));

    &:hover {
        background-color : darken($primary, 5%);
    }

    &:focus {
        background-color : $primary;
    }

    &.button--block {
        display          : block;
        margin           : rem-calc(15);
    }

}

.button--secondary {
	background-color     : $secondary;
	border-color         : $secondary;

	&:hover {
		background-color : darken($secondary, 5%);
	}

	&:focus {
		background-color : $secondary;
	}

}

.button--tertiary {
	background-color     : $tertiary;
	border-color         : $tertiary;

	&:hover {
		background-color : darken($tertiary, 5%);
	}

	&:focus {
		background-color : $tertiary;
	}

}
