// *******************************************
// *******************************************

    // Button Styles

// *******************************************
// *******************************************

// button thematic vars
$button-font             : $sans-reg !default;
$button-color            : $white !default;
$button-background-color : $primary !default;
$button-border-color     : $primary !default;
$button-border-width     : 1px !default;
$button-border-style     : solid !default;
$button-border-rounding  : 2px !default;

// button size vars
$button-tiny    : rem-calc(7) !default;
$button-small   : rem-calc(9) !default;
$button-medium  : rem-calc(12) !default;
$button-large   : rem-calc(16) !default;
$button-default : $button-medium !default;

// button max-width factor
// used to set a max width as a multiple
// of the button's font size
$button-max-width-factor : 10;

// button font size vars
$button-font-size-tiny    : rem-calc(12) !default;
$button-font-size-small   : rem-calc(14) !default;
$button-font-size-medium  : rem-calc(16) !default;
$button-font-size-large   : rem-calc(18) !default;
$button-font-size-default : $button-font-size-medium !default;

// button display and spacing vars
$button-display       : inline-block !default;
$button-margin-sides  : rem-calc(3) !default;
$button-margin-bottom : rem-calc(15) !default;

// set opacity of disabled buttons
$button-disabled-opacity : .6 !default;

// default buttons
// <a class="button" href="#">Start Up</a>
.button {
    position         : relative;
    min-width        : $button-font-size-default * $button-max-width-factor;
    margin           : 0 $button-margin-sides $button-margin-bottom;
    display          : $button-display;
    text-align       : center;
    text-decoration  : none;
    font-weight      : normal;
    font-size        : $button-font-size-default;
    line-height      : 1.5em;
    font-family      : $button-font;
    color            : $button-color;
    text-shadow      : none;
    border           : $button-border-width $button-border-style;
    background-color : $button-background-color;
    border-color     : $button-background-color;
    border-radius    : $button-border-rounding;
    box-shadow       : none;
    cursor           : pointer;
    transition       : color 300ms ease,
                       background-color 300ms ease;

    &:hover,
    &:focus {
        background-color : darken($primary, 5%);
    }

    // normalize buttons, anchors and
    // direct child elements
    // inside of button component element
    > * {
        height                 : auto;
        width                  : auto;
        display                : $button-display;
        margin                 : 0;
        padding                : $button-medium;
        overflow               : visible;
        vertical-align         : baseline;
        text-decoration        : none;
        font-weight            : normal;
        font-size              : inherit;
        font-size              : 100%;
        font-size              : $button-font-size-default;
        -webkit-font-smoothing : inherit; // very important, button els will look bolder without it
        line-height            : 1.5em;
        font-family            : $button-font;
        color                  : $button-color;
        text-shadow            : none;
        background             : transparent;
        border                 : 0;
        border-width           : 0;
        cursor                 : pointer;
        -webkit-appearance     : none;
        -moz-appearance        : none;
        appearance             : none;
    }

    // FF proprietary button fix
    > button::-moz-focus-inner {
        border  : 0;
        padding : 0;
    }

}

// size modifiers

// tiny buttons
.button--tiny {
    min-width: $button-font-size-tiny * $button-max-width-factor;

    > * {
        padding   : $button-tiny;
        font-size : $button-font-size-tiny;
    }

}

// small buttons
.button--small {
    min-width : $button-font-size-small * $button-max-width-factor;

    > * {
        padding   : $button-small;
        font-size : $button-font-size-small;
    }

}

// medium buttons
.button--medium {
    min-width : $button-font-size-medium * $button-max-width-factor;

    > * {
        padding   : $button-medium;
        font-size : $button-font-size-medium;
    }

}

// large buttons
.button--large {
    min-width : $button-font-size-large * $button-max-width-factor;

    > * {
        padding   : $button-large;
        font-size : $button-font-size-large;
    }

}

// display modifiers

// display button as block level element
.button--block {
    margin-right : 0;
    margin-left  : 0;
    display      : block;
}

// disabled button display
.button--disabled,
.button[disabled] {
    opacity      : $button-disabled-opacity;
    cursor       : default;
    background   : #666;
    border-color : #666;

    > * {
        cursor: default;
    }

}

// color modifiers
.button--secondary {
    background-color : $secondary;
    border-color     : $secondary;

    &:hover,
    &:focus {
        background-color : darken($secondary, 5%);
    }

}

.button--tertiary {
    background-color : $tertiary;
    border-color     : $tertiary;

    &:hover,
    &:focus {
        background-color : darken($tertiary, 5%);
    }

}
