// *******************************************
// *******************************************

    // Basic Nav Styles

// *******************************************
// *******************************************


// basic nav vars

$nav-height              : rem-calc(50);
$nav-item-width          : 25%;  // depends on # of items default is 4
$nav-link-font           : $source-bold, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

$nav-link-color          : $white;
$nav-bg-color            : $themeDGray;

// <nav class="nav" role="navigation">
//     <ul>
//         <li><a href="">Home</a></li>
//         <li><a href="">Page 2</a></li>
//         <li><a href="">Page 3</a></li>
//         <li><a href="">Page 4</a></li>
//     </ul>
// </nav>

nav,
.nav {
    position             : relative;
    background-color     : $nav-bg-color;
    width                : 100%;
    height               : $nav-height;

    ul {
        list-style       : none;
    }

    li {
        display          : inline;
        float            : left;
        text-align       : center;
        width            : $nav-item-width;
        line-height      : $nav-height;
    }

    a {
        text-decoration  : none;
        color            : $nav-link-color;
    }

}
