// *******************************************
// *******************************************

    // Pagination component

// *******************************************
// *******************************************

// <div className='pager'>
//     <ul className='pager__list'>
//         <li className='pager__item [pager__item--current pager__item--disabled pager__item--hellip pager__item--first pager__item--prev pager__item--next pager__item--last]'>
//             <a href="#" className='pager__link'>
//                 {'First'}
//             </a>
//         </li>
//     </ul>
// </div>

// container element
.pager {
    margin : rem-calc(0 0 16);
}

// list element
.pager__list {
    @extend .clearfix;
}

// item element
.pager__item {
    float   : left;
    display : inline-block;
    padding : rem-calc(6);
}

// link element
.pager__link {
    position            : relative;
    display             : inline-block;
    padding             : rem-calc(6);
    font-family         : $sans--bold;
        font-size       : rem-calc(14);
        color           : $gray--500;
        text-decoration : none;
    cursor              : pointer;

    &:hover {
        color : $primary;

        .icon {
            fill : $primary;
        }
    }

    .icon {
        margin : rem-calc(0 6);
        fill   : $gray--500;
    }

    // current item
    .pager__item--current & {
        cursor : default;
        color  : $gray--800;
    }

    // disabled item
    .pager__item--disabled & {
        cursor  : default;
        opacity : .5;
        color   : $gray--500;

        .icon {
            fill : $gray--500;
        }
    }
}

// zero out padding on first element
.pager__item:first-child,
.pager__item:first-child .pager__link {
    padding-left : 0;
}

// zero out padding on last element
.pager__item:last-child,
.pager__item:last-child .pager__link {
    padding-right : 0;
}
