// *******************************************
// *******************************************

    // Slide Out Navigation Styles

// *******************************************
// *******************************************

// slide out navigation vars

$slideout-bg-color             : $themeDDGray;
$slideout-link-bg-color-hover  : rgba($black, .2);
$slideout-link-bg-color-active : rgba($black, .2);
$slideout-link-text-color      : $white;

// wraps content that slides out
// from right side (main navigation)

.layout--slide-out {
    width                : 320px;
    position             : fixed;
    z-index              : 999;
    top                  : 0;
    right                : -320px;
    bottom               : 0;
    background           : $slideout-bg-color;
    transition           : right 300ms ease-in-out;
    user-select          : none;

    @media #{$small-only} {
        width            : 100%;
        right            : 100%;
    }

    @media screen and (max-width: 575px) {
        padding-top      : rem-calc(60);
    }

}

// slide sidebar (navigation)

// sidebar in

.animate-sidebar-in {

    .layout--slide-out {
        right            : 0%;
    }

    @media #{$medium-up} {

        .layout--slide-out {
            right        : 0;
        }
    }

}

// sidebar out

.animate-sidebar-out {

    .layout--slide-out {
        right            : -100%;
    }

    @media #{$medium-up} {
        .layout--slide-out {
            right        : -320px;
        }
    }
}

// Navigation Styles
// Sitewide Nav Icons
.nav__item {
    display              : block;
    float                : left;
    width                : 33.33333%;
    text-align           : center;
    margin               : auto;

    @media #{$medium-up} {
        padding          : rem-calc(10 0);
    }

}

.nav__link {
    display              : block;
    width                : 85%;
    padding              : rem-calc(10 0);
    margin               : rem-calc(10) auto;
    border-radius        : 3px;
    color                : $slideout-link-text-color;
    text-transform       : uppercase;
    transition           : all 300ms ease-in-out;

    &:hover {
        background-color : $slideout-link-bg-color-hover;
        color            : $slideout-link-text-color;
    }

    &.nav__link__active {
        background-color : $slideout-link-bg-color-active;
        color            : $slideout-link-text-color;
    }

}

.nav__icon {
    display              : block;
    height               : rem-calc(80);
    width                : rem-calc(80);
    margin               : 0 auto;
    font-size            : rem-calc(40);
    color                : $white;
    margin-bottom        : rem-calc(15);

    @media screen and (min-width: 768px) and (min-height: 600px) {
        &.nav__icon--xlarge {
            height       : rem-calc(160);
            width        : rem-calc(160);
        }

    }

}

// Navigation Menu Specific Styles
.main-nav {
    position             : relative;
    height               : 100%;
    list-style           : none;
    margin-top           : rem-calc(50);
    top                  : 0%;
    transition           : all 500ms ease-in-out;
    @include clearfix;

    @media screen and (max-width: 575px) {
        margin-top       : 0;
    }

    .nav__item {
        width            : 50%;

        @media screen and (max-height: 525px) {
            padding      : 0;
        }

        .nav__link {
            @media #{$small-only} {
                margin   : 0 auto;
            }

            @media #{$landscape} and (max-height: 320px) {
                margin   : 0 auto;
            }

            .nav__icon {
                @media #{$small-only} {
                    height               : rem-calc(60);
                    width                : rem-calc(60);
                }

                @media #{$landscape} and (max-height: 320px) {
                    height               : rem-calc(30);
                    width                : rem-calc(30);
                }

                @media #{$landscape} and (min-height: 321px) and (max-height: 600px) {
                    height               : rem-calc(40);
                    width                : rem-calc(40);
                }
            }
        }
    }

    // when 2nd page of navigation (.secondary-nav) is active
    &.main-nav--inactive {
        top              : -100%;
    }

    .nav__button {
        clear            : left;
        height           : rem-calc(40);
        width            : 100%;
    }

}


.main-subnav {
    background-color     : $themeMGray;
    margin               : 0;
    position             : relative;
    margin-top           : rem-calc(110);
    margin-bottom        : rem-calc(10);
    height               : 0;
    opacity              : 0;
    transition           : all 300ms ease-out;
    @include clearfix;

    @media #{$landscape} and (max-height: 321px) {
        margin-top       : rem-calc(75) !important;
    }

    @media #{$landscape} and (min-height: 322px) and (max-height: 600px) {
        margin-top       : rem-calc(110) !important;
    }

    @media #{$medium-up} {
        margin-top       : rem-calc(160);
    }

    .nav__item {
        width            : 33%;
        padding-bottom   : 0;
        padding-top      : 0;
        height           : 0;
        opacity          : 0;
        overflow         : hidden;
        transition       : all 300ms ease-out;
        @include noFlicker();
    }

    .nav__icon {
        height           : rem-calc(60);
        width            : rem-calc(60);
    }

    &.active {
        margin-top       : rem-calc(120);
        padding          : rem-calc(10 0);
        height           : rem-calc(136);
        opacity          : 1;

        @media #{$landscape} and (max-height: 321px) {
            margin-top   : rem-calc(90) !important;
            height       : rem-calc(90) !important;
            padding      : 0;
        }

        @media #{$landscape} and (min-height: 322px) and (max-height: 600px) {
            margin-top   : rem-calc(110) !important;
            height       : rem-calc(114) !important;
            padding      : 0;
        }

        @media #{$medium-up} {
            margin-top   : rem-calc(170);
            height       : rem-calc(160);
        }

        .nav__item {
            height       : rem-calc(135);
            opacity      : 1;

            @media #{$landscape} and (max-height: 321px) {
                height       : rem-calc(90) !important;

                .nav__link {
                    padding  : 0 !important;
                    height   : rem-calc(93) !important;
                }

            }

            @media #{$landscape} and (min-height: 322px) and (max-height: 600px) {
                height       : rem-calc(114) !important;

                .nav__link {
                    padding  : 0 !important;
                    height   : rem-calc(93) !important;
                }

            }

            @media #{$medium-up} {
                height   : rem-calc(140);
            }

        }

    }

}

.secondary-nav {
    position             : relative;
    list-style           : none;
    height               : 100%;
    top                  : 100%;
    margin               : 0;
    transition           : top 500ms ease-in-out;
    @include clearfix;


    &.secondary-nav--active {
        top              : -100%;
    }

    .nav__item {
        width            : 50%;

        .nav__icon {
            @media #{$small-only} {
                height               : rem-calc(60);
                width                : rem-calc(60);
            }

            @media #{$landscape} and (max-height: 320px) {
                height               : rem-calc(30);
                width                : rem-calc(30);
            }

            @media #{$landscape} and (min-height: 321px) and (max-height: 600px) {
                height               : rem-calc(40);
                width                : rem-calc(40);
            }

        }

    }

}

.copyright {
    position             : absolute;
    bottom               : rem-calc(3);
    left                 : 0;
    text-align           : center;
    width                : 100%;
    color                : $themeMLGray;
    font-size            : rem-calc(12);
}

.transparent-overlay { //click catcher
    display                  : none;

    @media #{$medium-up} {
        display              : block;
        position             : fixed;
        top                  : 0;
        right                : 0;
        bottom               : 0;
        left                 : 100%;
        opacity              : 0;
        overflow             : hidden;
        background           : url('/images/css-images/overlay-pattern.png'), rgba($themeDGray, .9);
        z-index              : 998;
        transition           : opacity 300ms ease-in-out;

        &.active {
            left             : 0;
            opacity          : 1;
        }

    }

}
