@import "global";

// @variables
$include-html-form-classes : $include-html-classes !default;

// We use this to set the base for lots of form spacing and positioning styles
$form-spacing : rem-calc(16) !default;

// We use these to style the labels in different ways
$form-label-pointer       : pointer                          !default;
$form-label-font-size     : rem-calc(14)                     !default;
$form-label-font-weight   : normal                           !default;
$form-label-font-color    : tint($black, 30%)                !default;
$form-label-bottom-margin : rem-calc(8)                      !default;
$input-font-family        : inherit                          !default;
$input-font-color         : rgba($black, .75)                !default;
$input-font-size          : rem-calc(14)                     !default;
$input-bg-color           : $white                           !default;
$input-focus-bg-color     : shade($white, 2%)                !default;
$input-border-color       : shade($white, 20%)               !default;
$input-focus-border-color : shade($white, 40%)               !default;
$input-border-style       : solid                            !default;
$input-border-width       : 1px                              !default;
$input-border-radius      : 0                                !default;
$input-disabled-bg        : #ddd                             !default;
$input-box-shadow         : inset 0 1px 2px rgba($black, .1) !default;

// Select variables
$select-bg-color : shade($white, 2%) !default;

//
// FORM LABEL MIXIN
//
@mixin form-label($alignment:false) {
    font-size     : $form-label-font-size;
    color         : $form-label-font-color;
    cursor        : $form-label-pointer;
    display       : block;
    font-weight   : $form-label-font-weight;
    margin-bottom : $form-label-bottom-margin;

    // Alignment options
    @if $alignment == right {
        float      : none;
        text-align : right;
    }

    @else if $alignment == inline {
        margin  : 0 0 $form-spacing;
        padding : $form-spacing / 2 + rem-calc($input-border-width * 2) 0;
    }
}

// Standard Forms
form {
    margin: 0 0 $form-spacing;
}

// Label Styles
label {
    @include form-label;

    &.label--right {
        @include form-label(right, false);
    }

    &.label--inline {
        @include form-label(inline, false);
    }

    small {
        text-transform : capitalize;
        color          : tint($form-label-font-color, 15%);
    }

}

select {
    -webkit-appearance    : none !important;
    height                : ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
    background            :
        $select-bg-color
        url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==') no-repeat;
    background-position-x : 97%;
    background-position-y : center;
    border                : $input-border-width $input-border-style $input-border-color;
    padding               : $form-spacing / 2;
    font-size             : $input-font-size;
    border-radius         : 0;

    &.select--radius {
        border-radius : $global-radius;
    }

    &:hover {
        background            :
            shade($select-bg-color, 3%)
            url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==') no-repeat;
        background-position-x : 97%;
        background-position-y : center;
        border-color          : $input-focus-border-color;
    }

}

select::-ms-expand {
    display : none;
}

// We use this to get basic styling on all basic form elements
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
    -webkit-appearance : none;
    border-radius      : $input-border-radius;
}

// Adjust margin for form elements below
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
    margin: 0 0 $form-spacing;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display                       : inline-block;
    margin-#{$default-float}      : $form-spacing * .5;
    margin-#{$opposite-direction} : $form-spacing;
    margin-bottom                 : 0;
    vertical-align                : baseline;
}

// Normalize file input width
input[type="file"] {
    width : 100%;
}
