// *******************************************
// *******************************************

    // Layout for style guide section

// *******************************************
// *******************************************

// vars
$sg-header-width       : rem-calc(240);
$sg-page-header-height : rem-calc(64);

// container element of style guide section
.sg {
    position   : relative;
    height     : 100%;
    min-height : 100%;
}

// style guide header with main navigation
// fixed left on large screens
// off canvas for mobile
.sg-header {
    position     : fixed;
    top          : 0;
    left         : 0;
    bottom       : 0;
    z-index      : 10;
    width        : rem-calc(240px);
    height       : 100%;
    padding      : rem-calc(30);
    background   : $white;
    border-right : 1px solid $gray--200;
}

// main content of style guide
// to right of header on large screens
// centered for mobile
.sg-content {
    position    : relative;
    z-index     : 1;
    width       : auto;
    min-height  : 100%;
    margin-left : rem-calc(240px);
    background  : tint($black, 96%);
    border      : 1px solid transparent;
}

// centered content of page with max-width
.sg-page {
    max-width   : rem-calc(1120);
    height      : 100%;
    min-height  : 100%;
    margin      : 0 auto;
    padding-top : $sg-page-header-height + rem-calc(30);
}

// style guide page header fixed to top
// offset by header on desktop
.sg-page__header {
    position    : fixed;
    top         : 0;
    right       : 0;
    z-index     : 10;
    left        : $sg-header-width;
    height      : $sg-page-header-height;
    padding     : rem-calc(0 30);
    line-height : $sg-page-header-height;
    background  : $deep-purple--500;
    box-shadow  : 0px 4px 0px rgba($black, .1);
}

// page title text inside of page header
.sg-page__title {
    font-weight : bold;
    font-size   : rem-calc(28);
    color       : $white;
    text-shadow : 2px 2px 0px rgba($black, .1);
}
